* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0a4f70;
}

button {
  cursor: pointer;
}

.checkbox {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 0.7rem;
}

.checkbox:hover {
  cursor: pointer;
  border: 2px solid green;
}

